*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(bg.jpg);

}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px);
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    top: 0;
}
.n_left{
    color: white;
    font-style: italic;
}
.n_right{
    display: flex;
    gap: 20px;
}
.n_right>a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: white;
    position: relative;

}
.n_right>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #b96bc6;
    transition: 0.8s ease;
}

.n_right>a:hover {
    color: #b96bc6; 
}

.n_right>a:hover::after {
    width: 100%;
}

main{
    display: flex;
    margin-top: 10vh;
    height: 83vh;
    
    
}
.m_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 90%;
    padding-top: 40px;
    padding-left: 100px;
    color: white;
}
.m_left>h1{
    text-align: center;
}
.m_left>p{
    font-size: 20px;
}
.ls{
    padding-left: 20px;
}
span{
    color: #b96bc6;
}
.m_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
}

footer{
    height: 7vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0b0416;

}


@media (max-width: 600px) {

    /* NAVBAR */
    nav{
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .n_right{
        gap: 15px;
    }

    .n_right>a{
        font-size: 14px;
    }

    /* MAIN SECTION */
    main{
        flex-direction: column;
        height: auto;
        margin-top: 15vh;
    }

    .m_left, .m_right{
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .m_left{
        gap: 20px;
    }

    .m_left>p{
        font-size: 16px;
    }

    .ls{
        padding-left: 20;
    }

    .m_right img{
        width: 100%;
        max-width: 300px;
        height: 350px;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px;
        text-align: center;
    }
}
