*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
    
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px);
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    top: 0;
}
.n_left{
    color: white;
    font-style: italic;
}
.n_right{
    display: flex;
    gap: 20px;
}
.n_right>a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: white;
    position: relative;

}
.n_right>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #b96bc6;
    transition: 0.8s ease;
}

.n_right>a:hover {
    color: #b96bc6;
}

.n_right>a:hover::after {
    width: 100%;
}

main{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: #b96bc6;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
main>a:hover{
    color: black;
}

footer{
    height: 7vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0b0416;

}

@media (max-width: 600px){
        /* NAVBAR */
    nav{
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .n_right{
        gap: 15px;
    }

    .n_right>a{
        font-size: 14px;
    }
    .photo{
        width: 100%;
    }

    main>a{
        width: 160px;
        font-size: 16px;
    }

    footer{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px;
        text-align: center;
    }
}



    