*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    width: 100%;
    height: 100%;
    background-image: url(bg.jpg);

}
.bg>nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px);
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
}
.n_left{
    color: white;
    font-style: italic;
}
.n_right{
    display: flex;
    gap: 20px;
}
.n_right>a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: white;
    position: relative;

}
.n_right>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #b96bc6;
    transition: 0.8s ease;
}

.n_right>a:hover {
    color: #b96bc6;
}

.n_right>a:hover::after {
    width: 100%;
}


footer{
    height: 7vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #0b0416;

}
main{
    height: 93vh;

}

 iframe {
      width: 100%;
      height: 100%;
      border: none;
      padding-top: 10vh;
    }